<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.rosan.dhizuku.permission.API" />
    <queries>
        <provider android:authorities="com.rosan.dhizuku.server.provider" />
        <intent>
            <action android:name="com.rosan.dhizuku.server.provider" />
        </intent>
    </queries>

    <uses-permission
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.HardenDroid"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pages.UsersActivity" />
        <activity
            android:name=".pages.GlobalSettingsActivity"
            android:exported="false"
            android:theme="@style/AppThemeWithActionBar"
            android:parentActivityName=".pages.UsersActivity" />
        <activity
            android:name=".pages.GlobalRestrictionsActivity"
            android:exported="false"
            android:theme="@style/AppThemeWithActionBar"
            android:parentActivityName=".pages.GlobalSettingsActivity" />
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>

</manifest>